<div class="container">

  <div class="page-header">
    <h1 class="page-title font-weight-bold">
      Add Employee
    </h1>
  </div>

  <div class="card border-0">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <div class="d-flex align-items-center my-2">
            <span class="stamp bg-primary text-white mr-3">
              <i class="fe fe-credit-card"></i>
            </span>
            <div>
              <small class="text-muted">FIRST STEP</small>
              <h4 class="m-0">Scan Card</h4>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="d-flex align-items-center my-2">
            <span class="stamp bg-primary text-white mr-3">
              <i class="fe fe-credit-card"></i>
            </span>
            <div>
              <small class="text-muted">SECOND STEP</small>
              <h4 class="m-0">Set ID to Card</h4>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="d-flex align-items-center my-2">
            <span class="stamp bg-primary text-white mr-3">
              <i class="fe fe-list"></i>
            </span>
            <div>
              <small class="text-muted">THIRD STEP</small>
              <h4 class="m-0">Add Employee Details</h4>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="d-flex align-items-center my-2">
            <span class="stamp bg-primary text-white mr-3">
              <i class="fe fe-check"></i>
            </span>
            <div>
              <small class="text-muted">FINAL STEP</small>
              <h4 class="m-0">Confirmation</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card border-0">
    <div class="card-body my-5">
      <div class="mb-4 text-center">
        <img src="../public/images/check.png" alt="Device" width="120" class="img-fluid">
      </div>
      <h3 class="text-center text-success">Employee Added Sucessfully!</h3>
    </div>
  </div>

  <div class="page-header">
    <div class="page-options d-flex">
      <a class="btn btn-secondary mr-2" href="javascript:history.back()">
        <i class="fe fe-arrow-left mr-2"></i>Change Somthing
      </a>
      <a href="#">
        <a href="#!step1" class="btn btn-primary"><i class="fe fe-plus mr-2"></i>ADD NEW EMPLOYEE</a>
      </a>
    </div>
  </div>

</div>
